/* Tag Styles */
body {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: courier,arial,helvetica;
}

h2 {
    text-align: center; 
}

figure {
    flex-basis: 40%;
    text-align: center;
}

img {
    border-radius: 80%;
    max-width: 15%;
}

a {
    color: white;
}

/* Section Styles */

main {
    background-color: #1F4068;
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

section#profile {
    color: white;
    
}

section#aboutme {
    border-style: double;
    background-color: #EBECF1;
    text-align: center;
    font-family: courier,arial,helvetica;
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

section#projects {
    border-style: double;
    background-color: #EBECF1;
    text-align: center;
    font-family: courier,arial,helvetica;
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

section#education {
    border-style: double;
    background-color: #EBECF1;
    text-align: center;
    font-family: courier,arial,helvetica;
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

footer {
    padding-top: 5px;
    text-align: center;
    background-color: #206A5D;
    color: white;
    min-height: 20vh;
}
