/* Tag Styles */

body {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: courier,arial,helvetica;
}

h2 {
    text-align: center; 
}

figure {
    flex-basis: 40%;
    text-align: center;
}

img {
    border-radius: 80%;
    max-width: 15%;
}

a {
    color: white;
}

a.buttonlink {
    line-height: 100%;
    padding: 10px;
    font-family: courier,arial,helvetica;
    background: #48bfe3;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    width: 18vw;
    border-radius: 25px;
    text-align: center;
}

div.buttonlinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.school {
    font-size: 20px;
}

/* Section Styles */

main {
    background-color: #1F4068;
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

section#profile {
    color: white;
    align-items: center;
}

section#aboutme {
    border-style: double;
    background-color: #EBECF1;
    text-align: center;
    font-family: courier,arial,helvetica;
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

section#projects {
    border-style: double;
    background-color: #EBECF1;
    text-align: center;
    font-family: courier,arial,helvetica;
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

section#education {
    border-style: double;
    background-color: #EBECF1;
    text-align: center;
    font-family: courier,arial,helvetica;
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

footer {
    padding-top: 5px;
    text-align: center;
    background-color: #206A5D;
    color: white;
    min-height: 22vh;
}
